/*start global rules*/
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --main-color: #ff0000;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Times New Roman", Georgia, serif;
  color: #333;
  font-size: 14px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  text-transform: capitalize;
  color: #333;
}
.container {
  width: 1024px;
  margin: auto;
}

.header {
  background-color: #333;
  color: #fefefe;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .main-nav {
  display: flex;
}
.header .main-nav > li > a {
  height: 72px;
  font-size: 120%;
  padding: 0px 10px;
  display: flex;
  align-content: center;
  align-items: center;
  position: relative;
  color: #fefefe;
  margin: 0px 20px;
  transition: var(--main-transition);
  overflow: hidden;
}
.header .main-nav > li > a:hover,
.active {
  left: 0;
  border-bottom: 3px var(--main-color) solid;
  transition: var(--main-transition);
}
/* landing page  */
.landing {
  margin-top: 50px;
  text-align: center;
}

/* gallery */
.gallery {
  margin-top: 50px;
  margin-bottom: 70px;
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
  gap: 40px;
}
.gallery-images {
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
  gap: 40px;
}
.gallery .box {
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .box .image {
  position: relative;
  overflow: hidden;
}
.gallery .box .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgb(255 255 255 /20%);
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  z-index: 2;
}
.gallery .box .image:hover::before {
  animation: flashing 0.7s;
}
.gallery .box img {
  max-width: 100%;
  transition: var(--main-transition);
}
.gallery .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
}
.gallery .box p {
  margin-top: 10px;
}
.gallery .box p a:hover {
  text-decoration: underline;
}
/* news */
aside {
  grid-column-start: 4;
  grid-column-end: 5;
  text-align-last: left;
}

aside > h2 {
  margin-bottom: 20px;
  text-transform: capitalize;
}
aside div {
  margin-bottom: 50px;
}
aside div p {
  margin-bottom: 10px;
}

/* animation */
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
